body{
	background-color: #000000;
}

form{
	position: absolute;
	left: 15px;
	top: 135px;
}

img{
	position: absolute;
	left: 0px;
	top: 400px;
}
input{
	background: url(pepe.gif) no-repeat;

}
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
#mainDiv{
	background-image: url();
	background-color: #fffb96;
	margin-right: 1200px;
	margin-top: 15px;
	height: 621px;
	width: 200px;
}
#startBtn{
	position: absolute;
	left: 15px;
	top: 45px;
}
#stopBtn{
	position: absolute;
	left: 15px;
	top: 75px;		
}
#clickBtn{
	position: absolute;
	left: 15px;
	top: 105px;
	border-radius: 50%;	
	height: 20px;
	width: 20px;
	background-color: #4CAF50;
	text-decoration: none;
  	display: inline-block;
  	border: none;
  	outline: none;
  	box-shadow: none;
}
#pts{
	position: absolute;
	left: 15px;
	top: 205px;
	font-family: Arial;
}
.videoFrame{
	position: absolute;
	left: 15px;
	top: 265px;
}