body{
	background-color: #16213e;
	background-image: url("https://img.wallpapersafari.com/desktop/1366/768/57/51/Ci6p3R.jpg");
}
button:focus {
    border: none;
    outline: none;
    text-align: center;
}

audio{
	width: 100px;
	height: 30px;
}
p{
	font-family: Arial;
	font-size: 20px;
	color: #FFFFFF;
	padding-left: 7px;
}
.sidenav {
  border-right: outset;
  border-color: #888;
  border-width: 4px;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 100px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;

}
.buttonCT{
	padding: 6px 29px 6px 21px;
	text-decoration: none;
	font-size: 25px;
	color: #FFFFFF;
	background-color: #111;
  	display: block;
	display:inline-block;
	border: none;
}
.buttonCT:hover {
  background-color: gray;
  cursor: pointer;
}
.sobre{
	background-color: #111;
	color: white;
	border: none;
}
#pts{
	position: absolute;
	visibility: hidden;
	left: 330px;
	top: 15px;
	font-size: 200px;
	text-align: center;
	opacity: 0.8;
  	transition: opacity 1s; 
  	color: #cf1b1b;
  	font-family: 'Sedgwick Ave Display', cursive;
	text-shadow: 2px 2px 4px #000000;
}
#pts.fade{
	opacity: 0;
}

#clickBtn{
	position: absolute;
	border-radius: 50%;
	left: 655.5px;
	top: 310.5px;
	height: 20px;
	width: 20px;
	box-shadow: 0px 0px 6px 0px #3dc21b;
	text-shadow:0px 1px 0px #2f6627;
	background-color: #4CAF50;
  	border: none;
  	outline: none;
}
#clickBtn:hover{
  cursor: pointer;
}
#objecttofade{
	color: white;
	opacity: 1;             /*set opacity to 1 so it will be fully visible*/
	transition: all 0.25s; /*you can change the duration of the transition*/
}


/*Search for the online version, i lost the link for the original*/
.control {
font-family: arial;
font-weight: bold;
color:white;
display: block;
position: relative;
padding-left: 30px;
margin-bottom: 5px;
padding-top: 3px;
cursor: pointer;
font-size: 18px;
}
.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.control_indicator {
		position: absolute;
		top: 2px;
		left: 0;
		height: 20px;
		width: 20px;
		background: #e6e6e6;
		border: 0px solid #000000;
		border-radius: undefinedpx;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
		background: #cccccc;
}

.control input:checked ~ .control_indicator {
		background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
		background: #0e6647d;
}
.control input:disabled ~ .control_indicator {
		background: #e6e6e6;
		opacity: 0.6;
		pointer-events: none;
}
.control_indicator:after {
		box-sizing: unset;
		content: '';
		position: absolute;
		display: none;
}
.control input:checked ~ .control_indicator:after {
		display: block;
}
.control-radio .control_indicator {
		border-radius: 50%;
}

.control-radio .control_indicator:after {
		left: 7px;
		top: 7px;
		height: 6px;
		width: 6px;
		border-radius: 50%;
		background: #ffffff;
		transition: background 250ms;
}
.control-radio input:disabled ~ .control_indicator:after {
		background: #7b7b7b;
}.control-radio .control_indicator::before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 4.5rem;
		height: 4.5rem;
		margin-left: -1.3rem;
		margin-top: -1.3rem;
		background: #2aa1c0;
		border-radius: 3rem;
		opacity: 0.6;
		z-index: 99999;
		transform: scale(0);
}
@keyframes s-ripple {
		0% {
				opacity: 0;
				transform: scale(0);
		}
		20% {
				transform: scale(1);
		}
		100% {
				opacity: 0.01;
				transform: scale(1);
		}
}
@keyframes s-ripple-dup {
	 0% {
			 transform: scale(0);
		}
	 30% {
				transform: scale(1);
		}
		60% {
				transform: scale(1);
		}
		100% {
				opacity: 0;
				transform: scale(1);
		}
}
.control-radio input + .control_indicator::before {
		animation: s-ripple 250ms ease-out;
}
.control-radio input:checked + .control_indicator::before {
		animation-name: s-ripple-dup;
}